@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap');

* {

    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    color: #131318;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 127px 15px 135px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 10px;
}

.company-logo {
    width: 48px;
    height: 56.008px;
}

.logo-container {
    display: flex;
    align-items: center;
    /* position: fixed; */
}
#nav-icon{
    display: none;
}
.company-name {
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;

}

span {
    color: #FF5400;
}

.navbar a {
    color: #131318;
    font-family: Mulish;
    ;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

.navbar {
    display: inline-flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 44px;
}

.navbar a:hover {
    color: #FF5400;
}

/* Navbar Section end   */


.hero-image-container {
    background: url('/Images/hero.png');
    background-size: cover;
    background-color: #cccccc;
    /* Used if the image is unavailable */
    height: 500px;
    width: 900px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-use {
    text-align: center;
    color: white;
}

.explore-travel-title {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.hero-description {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    line-height: 26px;
    width: 676px;
    margin: 0 auto;
}

.input-button-select {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

#findnow {
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    transition: .3s;
}
#findnow:hover {
    transform: translateY(-5px);
    cursor: pointer;
    opacity: .8;
}


i {
    color: white;
    padding: 5px;
}

input,
select,
option {
    width: 174px;
    height: 52px;
    color: #1f1c1c45;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
}

.image-container {
    backdrop-filter: blur(15px);
}

/* Hero Section End*/

.popular-tours-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px auto;
    height: 500px;
    width: 900px;
    gap: 15px;
}

.popular-tours-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.popular-tours-image {
    width: 540px;
    height: 550px;
    border-radius: 16px;
}

.popular-tours-description {
    text-align: justify;
    text-justify: inter-word;
}

.btn-read-more {
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

.btn-read-more:hover {
    opacity: .8;
    cursor: pointer;
    border: none;
}

/* Popular Tour Section end */

/* Choose Your Destination start */
.choose-destination-container {
    eight: 500px;
    width: 900px;
    margin: 45px auto;
}

.destination-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.destination-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    width: 643px;
    align-items: center;
    margin: 0 auto;
}


.maldives {
    width: 573px;
    height: 300px;
    background-image: url('./Images/maldives.png');
    background-size: cover;
    background-color: #cccccc;
    /* Used if the image is unavailable */
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    border-radius: 16px;
    grid-area: maldives;
}

.indonesia {
    width: 573px;
    height: 300px;
    background-image: url('./Images/indonesia.png');
    background-size: cover;
    background-color: #cccccc;
    /* Used if the image is unavailable */
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    border-radius: 16px;
    grid-area: indonesia;
}

.srilanka {
    width: 374px;
    height: 286px;
    background-image: url('./Images/srilanka.png');
    background-size: cover;
    background-color: #cccccc;
    /* Used if the image is unavailable */
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    border-radius: 16px;
    grid-area: srilanka;

}

.north-america {
    width: 474px;
    height: 286px;
    background-image: url('./Images/north-america.png');
    background-size: cover;
    background-color: #cccccc;
    /* Used if the image is unavailable */
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    border-radius: 16px;
    grid-area: north-america;
}

.kashmir {
    width: 274px;
    height: 286px;
    background-image: url('./Images/kashmir.png');
    background-size: cover;
    background-color: #cccccc;
    /* Used if the image is unavailable */
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    border-radius: 16px;
    grid-area: kashmir;
}

.bangladesh {
    width: 473px;
    height: 300px;
    background-image: url('./Images/bangladesh.png');
    background-size: cover;
    background-color: #cccccc;
    /* Used if the image is unavailable */
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    border-radius: 16px;
    grid-area: bangladesh;
}

.bandarban {
    width: 673px;
    height: 300px;
    background-image: url('./Images/bandarban.png');
    background-size: cover;
    background-color: #cccccc;
    /* Used if the image is unavailable */
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    border-radius: 16px;
    grid-area: bandarban;
}

.grid-destination {
    /* 
    display: flex;
    justify-content: center;
    align-items: center; */
}

.first-grid,
.second-grid,
.third-grid {
    display: flex;
}

.grid-image {
    margin: 8px;
}

/* class="why-choose-us" */
.why-choose-us {
    height: 530px;
    width: 900px;
    margin: 23px auto;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#svg-icon{
    width: 64px;
height: 64px;
}
.why-choose-us-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.why-choose-us-text {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    width: 643px;
    align-items: center;
    margin: 0 auto;

}

.choose-us-flexbox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.box {
    width: 50%;
    height: 167px;
    margin: 5px;
    padding: 10px;
}
.choose-us-card-text{
    font-size: 10px;
}

.choose-us-second {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.choose-us-first {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.choose-us-third {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.choose-flex {
    display: flex;
}


/*                 Footer */

.footer-container{
    width: 100%;
height: 302px;
background: rgba(19, 19, 24, 0.05);
display: flex;
align-items: center;
justify-content: center; 
text-align: center;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
margin-top: 25px;
}
.footer-text{
    width: 60%;
    text-align: center;
}

#footer-logo{
    justify-content: center;
    display: flex;
}
#footer-text{
    display: flex;
    justify-content: center;
    color: #131318;
}
small{
    font-weight: 800;
}
/* Normal Essential part done
Now Respnsive */

@media screen and (max-width:600px){
    #nav-icon{
        display: block;
    }
    #hide{
        display: none;
    }
    input,
select,
option  {
        width: 100%;
    }

    .input-button-select {
        display:grid;
        grid-template-rows: repeat(1, 1fr);
    }
    .popular-tours-container{
        overflow: auto;
    }
    .left-side{
        overflow: auto;
    }
    .right-side{
        margin-left: 216px
    }
}

@media screen and (min-width: 601px) and (max-width: 989px){
  
}

@media screen and (min-width:990px){

} 