@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap');

* {
  
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    color: #131318;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 127px 15px 135px ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 10px;
}

.company-logo {
    width: 48px;
    height: 56.008px;
}

.logo-container {
    display: flex;
    align-items: center;
    /* position: fixed; */
}

.company-name {
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;

}

span {
    color: #FF5400;
}

.navbar a {
    color: #131318;
    font-family: Mulish;
    ;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

.navbar {
    display: inline-flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 44px;
}
.navbar a:hover{
    color: #FF5400;
}

/* Navbar Section end   */


.hero-image-container{
    background: url('/Images/hero.png');
    background-size: cover; 
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; 
    width: 900px;
    background-position: center; 
    background-repeat: no-repeat;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-use{
    text-align: center;
    color: white;
}
.explore-travel-title{
    color: #FFF;
font-family: Mulish;
font-size: 64px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.hero-description{
    color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 800;
line-height: 26px; 
width: 676px;
margin: 0 auto;
}
.input-button-select{
    display: inline-flex;
padding: 16px;
align-items: flex-start;
gap: 24px;
border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
}
#findnow{
    border-radius: 8px;
background: #FF5400;
width: 174px;
height: 52px;
color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 700; 
}
i{
    color: white;
    padding: 5px;
}
input, select, option{
    width: 174px;
height: 52px;
color: #1f1c1c45;
text-align: center;
font-size: 16px;
font-weight: 500;
border-radius: 8px;
}

.image-container{
    backdrop-filter: blur(15px);
}
/* Hero Section End*/

.popular-tours-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px auto;
    height: 500px; 
    width: 900px;
    gap: 15px;
}
.popular-tours-title{
    color: #131318;
text-align: center;
font-size: 40px;
font-weight: 800;
}
.popular-tours-image{
    width: 540px;
height: 550px;
border-radius: 16px; 
}
.popular-tours-description{
    text-align: justify;
    text-justify: inter-word;
}
.btn-read-more{
    border-radius: 8px;
background: #FF5400;
width: 174px;
height: 52px;
color: #FFF;
text-align: center;
font-size: 20px;
font-weight: 800; 
}
.btn-read-more:hover{
    opacity: .8;
    cursor: pointer;
    border: none;
}
/* Popular Tour Section end */

/* Choose Your Destination start */ 
.destination-title{
    text-align: center;
}
.destination-description{
    text-align: center;
}
.grid-image{
height: 300px;

}
.maldives{
    width: 573px;
height: 300px;
background-image: url('./Images/maldives.png');
background-size: cover; 
background-color: #cccccc; /* Used if the image is unavailable */
background-position: center; 
background-repeat: no-repeat;
display: flex;
align-items: center;
justify-content: center;
color: #FFF;
text-align: center;
font-size: 28px;
font-weight: 800; 
border-radius: 16px; 
}
.indonesia{
    width: 573px;
    height: 300px;
    background-image: url('./Images/indonesia.png');
    background-size: cover; 
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800; 
    border-radius: 16px;
}
.srilanka{
    width: 374px;
height: 286px;
    background-image: url('./Images/srilanka.png');
    background-size: cover; 
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800; 
    border-radius: 16px;
}
.north-america{
    width: 474px;
    height: 286px;
    background-image: url('./Images/north-america.png');
    background-size: cover; 
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800; 
    border-radius: 16px;
}
.kashmir{
    width: 274px;
height: 286px;
    background-image: url('./Images/kashmir.png');
    background-size: cover; 
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800; 
    border-radius: 16px;
}
.bangladesh{
    width: 473px;
height: 300px;
    background-image: url('./Images/bangladesh.png');
    background-size: cover; 
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800; 
    border-radius: 16px;
}
.bandarban{
    width: 673px;
height: 300px;
    background-image: url('./Images/bandarban.png');
    background-size: cover; 
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800; 
    border-radius: 16px;
}
.grid-destination {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    display: grid;
    row-gap: 30px;
}
